        **/.classpath
        **/.dockerignore
        **/.env
        **/.git
        **/.gitignore
        **/.project
        **/.settings
        **/.toolstarget
        **/*.mdf
        **/*.log
        **/*.suo
        **/*.user
        **/*.userosscache
        **/*.sln.docstates
        **/bin
        **/obj
        Dockerfile*
        README.md
        render.yaml
